__pycache__/
*.py[cod]
.venv/
venv/
env/

.env

.ipynb_checkpoints/

.pytest_cache/
.mypy_cache/

.vscode/

*.log

.DS_Store

*.pyc

data/chroma_db/

data/*.pkl

*.egg-info/

models/
retrieval_output.json

.env